#navigationBar{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  color: lightblue;
  background-color: grey;
  border-radius: 0 0 5px 5px;
  font-family: helvetica;
  
  
}

#navigationBar button{
  background-color: yellow;
  color: white;
  font-size: 25px;
}
body{
  background-color: black;
}

h1{
  color: white;
}
